.section {
  height: 100vh;
}
.About {
  width: 100%;
  // height: 100vh;
  background-color: #222;

  .AboutContent {
    width: 1440px;
    // width: 100%;
    // min-width: 1440px;
    height: 100%;
    padding-top: 150px;
    // padding-bottom: 200px;
    margin: 0 auto 0;
    color: #fff;
    background: url(../assets/images/images.jpg) no-repeat 360px 310px /220px 260px;
    .title {
      padding: 0 0 0 400px;
      font-size: 50px;
      strong {
        color: #7fbf36;
      }
    }
    .profile {
      padding: 92px 0 0 700px;
      h2 {
        font-size: 28px;
      }
      p {
        font-size: 14px;
        font-weight: lighter;
        line-height: 24px;
      }
    }
    .carrior {
      padding: 0 0 0 700px;
      margin-top: 18px;
      h3 {
        font-size: 24px;
      }
      p {
        font-size: 14px;
        font-weight: lighter;
        line-height: 24px;
      }
    }
    .imgBox {
      margin: 0 0 0 700px;
      width: 80px;
      height: 80px;
      margin-top: 19px;
      display: flex;
      gap: 0.5vw;
      .iconImg1 {
        width: 32px;
        height: 32px;
        background-color: #ddd;
        border: 1px solid #ddd;
        border-radius: 50%;
      }
      .iconImg2 {
        // background: url(../assets/images/tistory-icon.png) no-repeat 50% / cover;
        width: 32px;
        height: 32px;
        background-color: #ddd;
        border: 1px solid #ddd;
        border-radius: 50%;
      }
    }
  }

  .end {
    color: #fff;
    position: fixed;
    right: 50%;
    bottom: 40px;
    font-size: 14px;
    // background-color: red;
  }
}
