.video {
  overflow: hidden;
  width: 100%;
  height: 100vh;

  video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
  }
  .mainContent {
    position: absolute;
    top: 60vh;
    // left: 200px;
    left: 15%;
    font-size: 50px;
    color: #fff;
  }
  .mainImg {
    position: fixed;
    top: 88vh;
    left: 100px;
    margin: 10px auto 0 auto;
  }
}
