.skill {
  width: 100%;
  // height: calc(100% - 150px);
  margin: 0 auto;
  height: 100vh;
  .skillList {
    // width: 1440px;
    width: 100%;
    height: 100%;
    display: grid;
    place-content: center;
    gap: 2vw;

    .skillBox {
      max-width: 1300px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      // margin-top: 30px;
      margin-left: 30px;
      border-bottom: 1px solid #ddd;
      // padding-bottom: 20px;
    }
    .skillTitle {
      text-align: end;
      margin-right: 10vw;
      font-weight: bold;
      &:after {
        content: "";
        width: 1px;
        height: 29px;
        color: #000;
        background-color: #000;
        display: inline-flex;
        position: relative;
        left: 50%;
        transform: translateY(-150%);
      }
      h1 {
        font-size: 40px;
      }
      p {
        margin-top: 7px;
        color: #7fbf36;
        font-size: 20;
        text-transform: capitalize;
      }
    }
    // .uiTolltip {
    //   display: inline-block;
    //   color: deeppink;
    //   .uiTolltip-text {
    //     display: none;
    //     position: absolute;
    //     max-width: 200px;
    //     border: 1px solid;
    //     border-radius: 5px;
    //     padding: 5px;
    //     font-size: 0.8em;
    //     color: white;
    //     background: deeppink;
    //   }
    //   &.uiTolltip:hover .uiTolltip-text {
    //     display: block;
    //   }
    // }
    // .uxTolltip {
    //   display: inline-block;
    //   color: deeppink;
    //   .uxTolltip-text {
    //     display: none;
    //     position: absolute;
    //     max-width: 200px;
    //     border: 1px solid;
    //     border-radius: 5px;
    //     padding: 5px;
    //     font-size: 0.8em;
    //     color: white;
    //     background: deeppink;
    //   }
    //   &.uxTolltip:hover .uxTolltip-text {
    //     display: block;
    //   }
    // }

    .skillDes {
      font-size: 18px;
      padding-top: 20px;
      text-align: left;
    }
  }
}
